---
import styles from "./index.module.scss";

interface SkillsItemProps {
  name: string;
  type: "odd" | "even";
}
const { name, type } = Astro.props as SkillsItemProps;
---

<li class={styles.item} data-type={type}>
  <span class={styles.name}>{name}</span>
  <span class={styles.slash} aria-hidden="true">
    /
  </span>
</li>
