---
import buildInfo from "../../data/build-info.json";

const deployDate = new Date(buildInfo.deployTime).toLocaleString();
const deployInfo = `${deployDate}`;
const deployUrl = `https://github.com/JoaoTMDias/joaodias.me/commit/${buildInfo.commitHash}`;
---

<p class="footer__deploy">
	Last deploy:
	<a href={deployUrl} target="_blank" class="footer__deploy__link fancy-link">
		<span class="sr-only">Commit with hash</span>
		<span class="fancy-link__text">
			<span>{buildInfo.commitHash}</span>
			<span class="sr-only">was deployed on {deployInfo}.</span>
			<span class="sr-only">This link opens in a new tab</span>
		</span>
		<svg class="fancy-link__underline" viewBox="0 0 1200 60" preserveAspectRatio="none" aria-hidden="true"><path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path></svg></a>
	</a>
</p>

<style lang="scss">
	.footer__deploy {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		margin-top: 1rem;
		font-size: 1rem;
		line-height: 1.5;
		color: var(--text-color);

		&__link {
			cursor: pointer;
		}
	}

	.footer__deploy__hash {
		font-size: 1rem;
		line-height: 1.5;
		text-decoration: dotted;
	}
</style>
