---
import { getEntry } from "astro:content";
import CurrentlyListening from "../components/currently-listening/index";
import Header from "../components/header/index.astro";
import SocialLinks from "../components/social-links/index.astro";
import "../assets/styles/index.scss";
import DeployInfo from "../components/deploy-info/index.astro";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
	title: string;
	description: string;
	itemtype?: string;
}

const { title, description, itemtype = "http://schema.org/WebPage" } = Astro.props;

const config = await getEntry("config", "config");
const currentYear = new Date().getFullYear();
const footer = `© ${currentYear} - ${config.data.copyright}`;
---

<BaseLayout title={title} description={description} itemtype={itemtype}>
	<slot name="head" slot="head" />
	<div class="container">
		<Header />
		<slot />
		<footer class="footer" id="footer">
			<div class="currently-listening" data-testid="currently-listening">
				<h2
					id="current-listening"
					class="currently-listening__title"
					data-testid="currently-listening-main-title"
				>
					{config.data.footer.currentlyListeningTitle}
				</h2>
				<div class="currently-listening__container">
					<CurrentlyListening marqueeConfig={config.data.footer.marquee} client:load />
				</div>
			</div>
			<div class="footer__bottom">
				<SocialLinks />
				<p class="footer__others">
					{footer}
				</p>
				<DeployInfo />
			</div>
		</footer>
	</div>
	<div class="grid-background" role="presentation"></div>
</BaseLayout>

<style lang="scss">
	.footer {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		gap: 2rem;
		width: 100%;
		padding-block-start: 3rem;

		@media (min-width: 60rem) {
			padding-block-start: 6rem;
		}

		&__bottom {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			gap: 1rem;
		}

		&__others {
			font-family: var(--text-font-family);
			font-size: 1rem;
			line-height: 1.5;
			color: var(--text-color);
			margin: 0;
		}
	}

	.currently-listening {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
		gap: 1rem;
		width: 100%;

		&__title {
			font-family: var(--text-font-family);
			font-style: normal;
			font-weight: 500;
			font-size: 0.875rem;
			line-height: 1.0625rem;
			text-transform: uppercase;
			color: var(--text-color);
			max-width: 80rem;
			margin: 0 auto;
			width: 100%;
			padding-inline: 3rem;
			text-align: center;
		}

		&__container {
			display: grid;
			place-items: center;
			background-color: var(--background-color);
			box-shadow:
				0 -1px 0 0 var(--text-color),
				0 1px 0 0 var(--text-color);
			position: relative;

			@media (min-width: 60rem) {
				height: 5rem;
			}
		}
	}
</style>
